﻿@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="row">
    <div class="col-md-5">
        <select class="form-control" id="subCategories">
            <option value="0">Any</option>
        </select>
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-3">
        <input type="text" name="name" id="name" class="form-control" />
    </div>
    <div class="col-md-3">
        <a href="#" class="btn btn-default" id="search">Search</a>
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-12">
        <div id="list">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Product Subcategory</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/site.js"></script>
}
